* {
  box-sizing: border-box;
  border: 1px dashed gray;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
}

aside {
  grid-column: 1 / 1;
  grid-row: 1 / -1;
  display: grid;
  gap: 20px;
  align-content: start;
}

aside ul {
  display: grid;
  gap: 20px;
}